@charset "utf-8";
@import 'css/reset.css';
@import 'css/building-blocks/stack.css';
@import 'css/fonts.css';

html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%!important;
	height: 100%!important;
	background-color: #ffffff;
	font-family: var(--oi-main-fontstack);
  /* https://css-tricks.com/accessible-font-sizing-explained/#aa-avoid-setting-a-base-font-size */
	font-size: 100%;
	color: #333;
	line-height: 1.44em;
}
h1,h2,h3,h4, .title, .subtitle { font-family: var(--oi-title-fontstack); line-height: 1em; }
h1, .title { font-size: 2em; margin-top: 1em; font-weight: 600; }
h2 { font-size: 1.7em; margin-top: 1.764706em; font-weight: 500; }
h3 {  margin-top: 1.428571em; }
h1:first-child, h2:first-child, h3:first-child, .title { margin-top: 0; }
h1 + *, h2 + *, h3 + * { margin-top: 1em; }
strong { font-weight: 700; }
em { font-style: italic; }
a { color: inherit; text-decoration: underline; }
p, time, li, td, th, footer, div { font-weight: 300; }
p, iframe, h2, h3, figure, ul, ol, .block, .padded-bottom { margin-bottom: 1em; }
button, .button { border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; vertical-align: top; line-height: 1.25em; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: inherit; }

code,pre { font-family: monospace; color: #444; background-color: #efefef; }
code { padding: 0.125em 0.25em; }
pre { max-width: 100%; overflow-x: auto; padding: 16px; margin-bottom: 16px; }
pre code { padding: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
ul { padding: 0; margin-left: 2em; }
.msg { text-align:center; padding: 0.5em; }

button, .button { margin-top: 0.25em; border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; }
a.button:hover, button:hover, button:focus, a.button:focus { background-color: #333333!important; color: #efefef!important; }


.b1-bg { background-color: #000000; color: white!important; }
.b2-bg { background-color: #333333; color: white!important; }
.bk-bg { background-color: #6D6D6D; color: white!important; }
.b3-bg, .github:hover { background-color: #999999; color: black!important; }
.b4-bg { background-color: #bbbbbb; color: black!important; }
.b5-bg, .off label { background-color: #dfdfdf; color: black!important; }
.b6-bg { background-color: #ffffff; color: black!important; }

.padded { padding: 1em; }
.padded-bottom { padding: 1em; margin-bottom: 1em; }
.doublepadded { padding: 2em; }
.spaced { margin-bottom: 1em; }
.centred { text-align: center; }
.tallpadded { padding-top: 3em; padding-bottom: 3em; }
section { padding: 2em 0; }

.about { padding: 2em; margin-bottom: 1em; border-style: groove; border-width: 1px; border-color: #bbbb;}
.summary { padding-top: 2em; padding-bottom: 1em;  }

.skip-to-content-link { position: absolute; top: -3rem; right: 0.5rem; z-index: 2000; transition: top 0.3s; padding: 0.5rem 1rem; }
.skip-to-content-link:focus { top: 0.25rem; }

.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
.holder.padded > *:last-child { margin-bottom: 0; }

.grid { display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 1em; }
.grid .pane { background: #f9f9f9; }

.grid-list { display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 0.5em; list-style: none; margin: 0; margin-bottom: 2em; }
.grid-list > li > a { padding: 1em; background: #dfdfdf; text-decoration: none; display: block; text-align: center; height: 100%; }

.grid { display: grid; grid-template-columns: 50% 50%; grid-gap: 0.5em; }
.grid .pane { 
	background: black; 
	color: white;
    transition: color 0.15s linear, background-color 0.15s linear;
	padding: 3em;
	box-shadow: 1px 1px 1px #b6b6b6;

	&:hover {
		color: black;
		background: #b6b6b6;
	  }
	}

.grid .pane h3 { font-size: 1.2em;}

ul.grid { list-style: none; margin-left: 0em; grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));}
ul.grid > li > a { display: block; text-decoration: none;}
ul.grid > li > a > h3 { text-align: center; font-weight: 500; font-size: 1.2em; color: inherit; }

.impact-link:hover { 
	text-decoration: underline;
}

.legend { margin-bottom: 1em; text-align: center; }
.legend .legend-item { display: inline-block; line-height: 1em; margin-right: 1em; cursor: pointer; }
.legend .legend-item svg { float: left; }


/* Header */ 

header a { text-decoration: none; line-height: 0; }
header h1 { margin-top: 0; }
header nav ul {
	width: max-content;
	margin: 0 auto;
	font-size: 1.2em;
	position: relative;
	font-family: var(--oi-title-fontstack);
    padding-top:2em;
}
header nav ul li { display: inline-block; }
header nav ul > li > a { padding: 0.5em 1em; display: inline-block; width: 100%; color: inherit;  }

.header-grid { grid-template-columns: repeat(2,1fr); grid-gap: 0.5em; list-style: none;}

.header-logo { margin:auto;}

/* Footer */ 

.elsewhere { float: left; margin-top: 1em; margin-bottom: 0;}
.elsewhere li { display: block; margin-left: 0em; }
.elsewhere li:first-child { margin-left: 0; }
.elsewhere li a { display: block; }
.elsewhere.grid { display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 0em; list-style: none; }

footer { width: 100%; padding-bottom: 3em; }
footer h2 + p { margin-top: 1em; }
footer a { color: inherit; }
.footer { margin-bottom: 0;}
.footer-links { display: block; list-style: none; float: left; margin-left: 0;}
.footer-links li { padding-bottom: 1em; }
.footer-links li a { font-size: 1.1em; text-decoration: underline; }
.footer li h3 { 
	font-size: 1.2em; 
	color: #ffffff; 
}

.footer-logos { display: block; list-style: none;}
.footer-logos li p { padding-top: 2em; }

.oi-credit { font-weight: 800px; font-size: 1.1em; padding:0;}



/* OI dashboard component */
.oi-dashboard .oi-dashboard-inner { --auto-dashboard-min-size: 200px; width: 100%; display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--auto-dashboard-min-size)), 1fr)); grid-gap: 1em; }
.oi-dashboard .panel h3 { font-weight: 500; font-size: 1.2em; text-align: center; }
.oi-dashboard .panel { padding: 2em; background: black; color: white;  display: grid; }
.oi-dashboard .bignum { font-size: 4em; line-height: 1.25em; font-weight: bold; text-align: center; display: block; margin-top: 0; }
.oi-dashboard .footnote { font-size: 0.8em; text-align: center; display: block; }
.oi-dashboard { grid-gap: 0.5rem!important;}



@media only screen and (max-width: 800px) {
	ul.grid.dashboard {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 1200px) {
	.oi-dashboard { grid-gap: 1.5vw; }
	/* .oi-dashboard .panel { font-size: max(10px, 1.5vw); } */
	.oi-dashboard .footnote { font-size: max(10px, 0.7em); }
}

@media only screen and (max-width: 1080px) {
	.grid { grid-template-columns: 100%; }
	.grid-list { grid-template-columns: repeat(2,1fr); grid-gap: 0.25em; }
}

@media only screen and (max-width: 800px) {
	.elsewhere { float:none; margin-left: 0; margin-bottom: 1em; }
}
