<div class="b1-bg">
	<header>
    <div class="holder padded">
      <ul class="header-grid">
        <li><a href="/"><img src="/assets/images/lcc-logo-white-transparent.png" class= "header-logo" inline width="250"></a></li>
        <li>
          <nav>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/themes/">Themes</a></li>
              <li><a href="/data-catalogue">Data Catalogue</a></li>
            </ul>
          </nav>
        </li>
      </ul>
	</header>
</div>
